@import '~antd/lib/style/themes/default.less';

@import '~antd/dist/antd.less';

@import './variables.less';

::-webkit-scrollbar {
    width: 14px;
    height: 18px;
    background-color: @normal-color;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: @primary-color;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}