@import '../ui/variables.less';

.base-layout.ant-layout {
    position: relative;
    display: flex;
    flex-direction: column;

    &> .ant-layout-header {
        &> .logo {
            float: left;
            width: 42px;
            height: 42px;
            margin: 11px 24px 11px 11px;
            line-height: 0;
            img {
                width: 42px;
                height: 42px;
            }
        }

        &> .ant-menu {
            float: right;
        }
    }

    .ant-page-header {
        border-bottom: 1px solid @border-color-base;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
        z-index: 10;
    }

    .page-header-loading {
        opacity: 0.5;
        pointer-events: none;
    }

    .ant-layout-content {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        &> .ant-breadcrumb {
            text-align: center;
            padding: 12px;
        }
        &> .site-layout-content {
            flex: 1;
            min-height: 280px;
            padding: 24px;
            background: #fff;
            overflow-y: auto;
        }
    }

    &> .ant-layout-footer {
        text-align: center;
        border-top: 1px solid @border-color-base;
        box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.075);
        z-index: 10;
        padding: 16px;
    }
}